<!-- copy this file to android/app/src/main/res/values and rename secrets.xml -->
<?xml version="1.0" encoding="utf-8"?>
<resources>
    <string name="google_maps_api_key">YOUR_ACTUAL_GOOGLE_API_KEY</string>
</resources>